body {
  font-size: 16px;
  line-height: 1.3em;
  overflow-y: auto;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
#content.site-content {
  padding-bottom: 3.75rem;
  padding-top: 4.125rem;
}
.entry-title {
  & > a {
    color: inherit;
  }
}
#app {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main.main-wrapper {
  flex-grow: 1;
}
p:last-of-type {
  margin-bottom: 0; 
  }
img {
  max-width: 100%;
  height: auto;
}
.slick-slide {
  line-height: 0;
}
.sticky-header-top {
  margin-top: 88px;
}
.sticky-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
a {
  text-decoration: none;
}
a[href^="tel"] {
  color:inherit;
  text-decoration:none;
}

// Loading animation
header.header,
main.main-wrapper,
footer.footer{
  opacity: 0;
}
.pre-loader {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  @include transform(
    translate(-50%, -50%)
  );
  z-index: 99999;
  .loader {
    border: 10px solid #ada8a8;
    -webkit-animation: spin 1.2s cubic-bezier(.5,0,.5,1) infinite;
    animation: spin 1.2s cubic-bezier(.5,0,.5,1) infinite;
    border-top: 10px solid #343a40;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    text-align: center;
  }
  p {
    font-family: sans-serif;
    color: #000000;
    text-align: center;
    margin-top: 20px;
  }
}
